@model LastLibrary.Models.DeckManagerViewModel.Deck
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Deck Manager</h2>
<form asp-controller="DeckManager" asp-action="Create" method="post" class="form-horizontal">
    <h4>Create a new deck.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="DeckName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="DeckName" class="form-control" />
            <span asp-validation-for="DeckName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create deck</button>
        </div>
    </div>
</form>

<div id="cardSearch">
    <h4>Search for a Card</h4>
    <hr />
    <label class="col-md-2 control-label">Card Name:</label>
    <div class="col-md-10">
        <input id="cardSearchInput" class="form-control"/>
        <button id="cardSearchButton" class="btn btn-default">Search for Card</button>
    </div>
</div>

<div id="cardSearchResults"></div>

@section scripts{
    <script type="text/javascript">
        $('#cardSearchInput').keypress(function (e) {
            if (e.which === 13) {
                e.preventDefault();
                requestCard();
            }
        });

        $('#cardSearchButton').click(function (e) { 
            e.preventDefault();
            requestCard();
        });

        function requestCard() {
            $("#cardSearchResults").empty();
            var inputText = $("#cardSearchInput").val();
            $.ajax("/api/card/" + encodeURIComponent(inputText),
            {
                success: function (result) {
                    result.cards.forEach(function(card) {
                        displayReturnedCard(card);
                    });
                    return false;
                },
                error: function (result) {
                    console.error(result);
                    return false;
                }
            });
        }

        function displayReturnedCard(card) {
            if (card.name === null || card.name === undefined) return null;
            $('<p>', {
                text: card.name
            }).appendTo("#cardSearchResults");
        }
    </script>
}